body {
  margin: 0;
  padding: 0;
  font-family: sans-serif; }

.info {
  margin: 20px;
  padding: 10px 20px;
  border-radius: 10px;
  display: inline-block;
  background-color: #5776e9;
  color: white; }

.info.info-danger {
  background-color: #e73f3f; }

.App {
  text-align: center; }
  .App .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px; }
  .App .App-header {
    background-color: #32c3ff;
    padding: 20px;
    color: white; }
    .App .App-header a {
      color: white;
      padding: 0 5px;
      text-decoration: unset; }
    .App .App-header a.active {
      font-weight: bold; }
  .App .App-title {
    font-size: 1.5em; }
  .App .App-intro {
    font-size: large; }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

.Home p {
  font-size: 1.2em; }

.Secret .result {
  font-size: 1.2em;
  color: #32c3ff; }

.KronosRot {
  width: 300px;
  height: 300px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  overflow: hidden;
  border-radius: 50%;
  box-shadow: 0 0 20px 20px #000 inset, 0 0 20px 2px #000; }

.kronos:after {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: -20px -20px 50px 2px #000 inset;
  border-radius: 50%; }

.kronos > div {
  width: 200%;
  height: 100%;
  animation: spin 30s linear alternate infinite;
  background: url(https://www.dropbox.com/s/jfw3ru4hx7hdukk/physical-green-tone-world-map-b3.jpg?dl=0);
  background-size: cover; }

@keyframes spin {
  to {
    transform: translateX(-50%); } }
